In [1]:
import pandas as pd 
from sklearn import linear_model

In [2]:
df=pd.read_csv('homeprices_2.csv') #dataframe for calling the function

In [3]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
df.bedrooms.median() #for calling median of the column

4.0

In [8]:
df.bedrooms=df.bedrooms.fillna(df.bedrooms.median())   #fill the median

In [9]:
df  #preprocessing the data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
x=df.drop('price',axis=1)  #cutting dataframe , by default it will cut on rows and we have to mention the axis

In [11]:
x

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [12]:
y=df.price

In [13]:
y

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [14]:
reg=linear_model.LinearRegression()  #building the ML model and using the package

In [15]:
reg.fit(x,y)  #fit is a method and we are passing independent and dependent variable

LinearRegression()

In [16]:
reg.coef_  #predefined variable name

array([  112.06244194, 23388.88007794, -3231.71790863])

In [17]:
reg.intercept_   #for displaying b

221323.00186540384

In [18]:
reg.predict([[3000,3,40]]) #solution for problem 1

array([498408.25158031])

In [19]:
area=int(input('Enter the Area :'))
bd=int(input('Enter the number of bedrooms:'))
age=int(input('Enter the age of the house:'))

Enter the Area :2000
Enter the number of bedrooms:3
Enter the age of the house:5

In [20]:
reg.predict([[area,bd,age]])

array([499455.93644033])